* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

.bg-home {
  background-image: url("images/mountains-universe-1 1.png");
  background-repeat: no-repeat;
  background-size: fill;
}

.logo-cima {
  display: none;
}

header nav {
  display: flex;
  gap: 4.2rem;
  align-items: center;
  height: 12.2rem;
  padding-left: 7.2rem;
  padding-right: 7.2rem;
  max-width: 100vw;
}

header nav a {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2.16rem;
  line-height: 2.2rem;
  color: #C4C4CC;
  
}

header nav a:nth-child(3) {
  min-width: 10.5rem;
}

header nav a:hover {
  font-weight: 700;
  font-size: 2.2rem;
  color: #FFFFFF;
}

a {
  text-decoration: none;

}

main#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  width: 40rem;
  margin: 17.2rem auto 5rem;
}

main#home h1, button {
  text-align: center;
}

/*.page*/ main#home h1, main.universo-exploracao h1 {
  font-family: 'Roboto';
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 125%;

  color: #E1E1E6;
}

main#home button {
  font-family: 'Roboto';
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  text-transform: uppercase;

  padding: 1.2rem 3.2rem;
  width: 20rem;

  color: #FFFFFF;
}

main#home button:hover {
  color: #02799D;
  background-color: #FFFFFF;
}

main.universo-exploracao {
  margin-top: 6.3rem;
  margin-left: 10.2rem;
}

main.universo-exploracao p {
  width: 64.8rem;
  height: 20.3rem;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 160%;

  margin-top: 1.6rem;

  color: #E1E1E6;
}


@media screen and (max-width: 992px) {
  header nav {
    justify-content: center;
    padding: 0;
  }

  main.universo-exploracao {
    margin: 0;
    margin-top: 10rem;
  }

  main.universo-exploracao p {
    width: 70%;
    height: 35rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    white-space: normal;
    hyphens: auto;
  }

  main.universo-exploracao h1 {
    text-align: center;
  }

  main.universo-exploracao p {
  text-align: justify;
  }
}

@media screen and (max-width: 470px) {
  .logo-linha {
    display: none;
  }

  .logo-cima {
    display: block;
    margin: 5rem auto 1rem;
  }

  header nav {
    height: 6rem;
    gap: 3.5rem;
  }

  main#home {
    margin-top: 10rem;
    width: 37rem;
  }

  main#home h1 {
    font-size: 4rem;
  }

  main.universo-exploracao {
    margin-top: 5.5rem;
  }
}

@media screen and (max-width: 375px) {
  main.universo-exploracao {
    margin-top: 4rem;
  }

  main.universo-exploracao p {
    font-size: 1.6rem;
  }
}